<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(AdminDashboard)}"/>

<div class="container">
    <h1>Add/Edit product</h1>
    <form th:action="@{/admin/products/save}" th:object="${product}" method="post">
        <input type="hidden" class="form-control" th:field="*{id}"/>
        <div class="input-group">
            <input type="text" class="form-control" th:field="*{title}" placeholder="Title"/>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" th:field="*{description}" placeholder="description"/>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" th:field="*{price}" placeholder="price"/>
        </div>
        <div class="input-group">
            <img th:src="@{'/img/' + ${product.photoName}}" style="width:240px; height:240px;">
            <input type="hidden" class="form-control" th:field="*{photoName}" placeholder="photoName"/>
        </div>
        <div class="input-group">
            <select th:field="*{category}" class="form-control" id="category" name="category"
                    placeholder="categories (*)">
                <option th:each="category : ${categories}"
                        th:value="${{category}}"
                        th:text="${category.id}+' : '+${category.title}"></option>
            </select>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" th:field="*{vendorId}" placeholder="vendorId"/>
        </div>
        <div>
        </div>
        <div class="input-group">
            <button name="saveProduct" type="submit" class="btn btn-primary">Save product</button>
        </div>
    </form>

    <form method="POST" enctype="multipart/form-data" th:action="@{/admin/products/uploadFile}">
        <table>
            <input type="hidden" th:value="${product.id}" th:name="id">
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>